:root {
    --background_color: rgb(245, 245, 245);
    --font-size: 1.9vmin;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Comfortaa";
    font-size: var(--font-size);
    background-color: var(--background_color);
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

button {
    border-radius: 1vmin;
    outline: none;
    border: 1px solid black;
    padding: 1vmin;
    padding-inline: 2vmin;
    font-family: "Comfortaa";
    font-size: var(--font-size);
    background-color: white;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

input {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Div {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 2vmin;
    padding-inline: 2vmin;
    margin: 1vmin;
}

.Div p {
    padding-inline: 2vmin;
}

.Div:hover {
    color: white;
    background-color: black;
}

canvas {
    border-radius: 2vmin;
}

footer {
    text-align: center;
    margin-bottom: 2vmin;
}

@media (max-width:892px) {
    .controls-container {
        width: 100%;
        max-width: 700px;
        margin: 0.5rem 0;
        align-items: flex-start;
    }
    .button-container {
        position: relative;
        display: inline-block;
        margin: 0rem 1rem 0 0;
        width: 25%;
    }
    .button-container button {
        width: 100%;
        padding: 1rem;
        padding-inline: 0;
        font-size: 1rem;
    }
    .hide {
        display: block;
    }
    .button-container button.options {
        border: none;
        font-size: 1.5rem;
        margin: 0;
    }
    .dropdown {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: white;
    }
    .show {
        display: block;
    }
    .dropdown button {
        display: block;
        width: 100%;
        margin: 0rem;
        border: none;
    }
    #controls {
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0rem 1rem 0rem 0;
        width: 50%;
    }
    #controls p {
        margin: 0;
    }
    #variables {
        width: 20%;
        display: flex;
        justify-content: center;
    }
    .Div {
        margin: 0;
        font-size: 1.5rem;
        padding-inline: 0;
    }
    .Div p {
        padding-inline: 0;
    }
    .change-size {
        display: none;
    }
    footer {
        margin: 0;
    }
}

@media (min-width:530px) and (max-width:892px) {
    #controls {
        width: 50%;
        padding: 0.5rem;
    }
    #controls p {
        font-size: 1rem;
    }
    .button-container button.options, .Div {
        font-size: 1rem;
    }
}