:root {
    --background_color: rgb(245,245,245);
    --font-size: 1.9vmin;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Comfortaa";
    font-size: var(--font-size);
    background-color: var(--background_color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    border-radius: 2vmin;
}

button {
    border-radius: 1vmin;
    outline: none;
    border: 1px solid black;
    padding: 1vmin;
    padding-inline: 2vmin;
    font-family: "Comfortaa";
    font-size: var(--font-size);
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

input {
    background-color: transparent;
    border: none;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Div {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius:2vmin;
    padding-inline: 2vmin;
    margin: 1vmin;

}

.Div p {
    padding-inline: 2vmin;
}

.Div:hover {
    color: white;
    background-color: black;
}

footer {
    text-align: center;
    margin-bottom: 2vmin;
}